
.itemsReact {
        white-space: nowrap;
    }
.rightsection { 
          padding-top: 35px;
          width: 200px;
    }
    .divideritems {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    gap: 0;
}
.itemdivider {
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-left: 10px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: black;
    }
    .hovereffect:hover {
        background-color: lightgray;
    }
  
.navitems{
    padding: 10px 15px;
    cursor: pointer;
    color: white;
}
  .header-navigator{
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    overflow: 'hidden';
  }
  .navitemsmenu{
    padding-top: 25px;
  width: 50%;
  height: 100%;
  display: flex;
  }
  .profilepicture{
    height: 100%;
  width: inherit;
  position: relative;
  margin: 0 auto;
  /* display: block; */
  }

  @media only screen and (max-width: 768px) {
   .rightsection {
         width: 100px;
    }
      .setimage {
      width: 100px;
    }
    .setimagecaption {
        font-size: 10px;
        width: 100px;
    }
  }
@media only screen and (max-width: 559px) {

    .itemsReact {
        padding: 10px 4px !important;
    }
  }
  
  @media only screen and (max-width: 627px) {
    
    .itemsReact {
        padding: 10px 4px !important;
    }
  }

  